@media screen and (max-width: 1286px) {
    .container{
        width: 45%;
    }
    section{
        width: 85%;
    }
    div{
        width: 36.1%;
    }
    input:nth-child(2) {
        margin-left: 3rem;
    }
}
/* @media screen and (max-width: 385px) { */
@media screen and (max-height: 730px) {
    /* and (max-width: 325px)  */
    span{
        margin-top: -10px;
        font-size: 7.5pt;
    }
    .container{
        width: 95%;
    }
    section{
        width: 90%;
    }
    div{
        width: 77.4%;
    }
    [type = text]{
        background-color: #a0a0a0;
        width: 50%;
        font-size: 8pt;
    }
    input:nth-child(2) {
        margin-left: 1.5rem;
        width: 15%;
        font-size: 9pt;
    }
    button{
        font-size: 9pt;
    }
    p{
        font-size: 10pt;
    }
}